

.main-content-container {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
  background: white;
  background-image:
    radial-gradient(#ededed 10%, transparent 0),
    radial-gradient(#ededed 10%, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.about-content-container {
  height: 100%;
  width: 1091px;
  margin: 10px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-title-container {
  width: 690px;
  margin: 50px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-title {
  font-size: 5rem;
}

.about-content-column-container {
  margin: 0px 40px 0px 40px;
}

.profile-picture {
  height: 200px;
  width: 200px;
  margin: 30px 30px 15px 30px;
  display: block;
  flex: 0;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  align-content: center;
  align-items: center;
  /* border: solid;
  border-color: #14364a;
  border-width: 10px; */
  border-radius: 50%;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

h3 {
  line-height: 30px;
}

.name {
  font-size: 2rem;
  color: orangered;
  text-shadow: -1.5px 1.5px 0px black;
  text-align: center;
}

.title {
  font-size: 1.2rem;
}

.about-content-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-content-picture-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-content-name-container {
  height: 120px;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.about-content-row-container {
  margin: 5px 0px 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  height: 30px;
  width: 30px;
}

.about-content {
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}
