.main-content-container {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
  background: white;
  background-image:
    radial-gradient(#ededed 10%, transparent 0),
    radial-gradient(#ededed 10%, transparent 0);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.book-content-container {
  width: 84%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.book-detail-container {
  width: 100%;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: flex-start;
}

.book-detail-left-container {
  padding-bottom: 50px;
  flex: 2;
  align-self: stretch;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
}

.book-detail-title {
  margin: 48px 0px 0px 10px;
  color: orangered;
  font-size: 4.2rem;
  text-shadow: -3px 3px 0px black;
}

.book-detail-author {
  margin: 6px 0px 8px 0px;
  padding: 0px 10px;
  background-color: white;
  line-height: 80px;
  font-size: 3.6rem;
}

.book-detail-synopsis {
  padding: 0px 10px;
  background-color: white;
}

.book-detail-right-container {
  flex: 1;
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: flex-end;
}

.book-detail-right-content-container {
  height: 100%;
  width: 250px;
  margin-top: 40px;
  flex: 1;
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.book-detail-image-container {
  height: 350px;
  width: 245px;
  display: flex;
	justify-content: center;
  align-items: center;
}

.book-detail-image {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.book-detail-stars-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
	justify-content: center;
  align-items: center;
  background-color: white;
}

.book-detail-star-icon {
  height: 34px;
  width: 34px;
  margin: 0px 4px;
  background-color: orange;
  -webkit-mask: url(../img/icon_star_full.svg) no-repeat center;
  mask: url(../img/icon_star_full.svg) no-repeat center;
}

.star-icon-empty {
  -webkit-mask: url(../img/icon_star_empty.svg) no-repeat center;
  mask: url(../img/icon_star_empty.svg) no-repeat center;
}

.book-detail-rating-container {
  margin-top: 4px;
}

.book-order-container {
  width: 100%;
  margin-bottom: 30px;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
}

.book-order-title-container {
  margin-left: 6px;
}

.book-order-title {
  color: black;
  font-size: 3.4rem;
}

.book-order-dropdown-container {
  padding: 0px 10px;
  display: flex;
	flex-direction: row;
	justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.book-order-dropdown-label {
  margin-right: 20px;
}

.book-order-button-container {
  width: 100%;
  display: flex;
	flex-direction: row;
	justify-content: flex-end;
  align-items: center;
}

.book-order-button-inner {
  height: 100%;
  width: 100%;
  display: flex;
	justify-content: center;
	align-items: center;
}

.book-review-container {
  width: 100%;
  display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: flex-start;
}

.book-review-title-container {
  margin-left: 6px;
}

.book-review-title {
  color: black;
  font-size: 3.4rem;
}

.book-review-content-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.book-review-item-container {
  width: 100%;
  margin: 0px 0px 10px 20px;
  display: flex;
	flex-direction: row;
	justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.2);
}

.book-review-item-left-container {
  flex: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.book-review-item-profile_image-container {
  height: 110px;
  width: 110px;
  margin: 20px;
  display: flex;
	justify-content: center;
  align-items: center;
}

.book-review-item-profile_image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.2);
}

.book-review-item-center-container {
  flex: 1;
  margin-left: 4px;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: flex-start;
}

.book-review-item-username {
  margin-top: 4px;
  font-size: 2.8rem;
  line-height: 46px;
}

.book-review-item-text {
  margin-bottom: 8px;
}

.book-review-item-right-container {
  flex: 0;
}

.book-review-item-right-container {
  flex: 0 120px;
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
}

.book-review-item-rating-container {
  margin-right: 28px;
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
}

.book-review-item-rating-icon {
  height: 40px;
  width: 40px;
  margin-top: 14px;
  background-color: orange;
  -webkit-mask: url(../img/icon_star_full.svg) no-repeat center;
  mask: url(../img/icon_star_full.svg) no-repeat center;
}

.book-review-item-rating-text {
  height: 40px;
  margin-top: 10px;
}


select {
  height: 40px;
  width: 65px;
  font-family: 'Roboto Mono', monospace;
	font-weight: 200;
	font-size: 1.1rem;
}

button {
	width: 106px;
  height: 50px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
	border-radius: 4px;
	background-color: #54c0ff;
	outline: none;
	cursor: pointer;
	font-family: 'Chathura', sans-serif;
	font-weight: 600;
	font-size: 2.6rem;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button:hover {
	background-color: orangered;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.08);
}

button:active {
  background-color: orangered;
	transform: scale(0.96);
}
