.main-content-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.edit-main-container {
  height: 360px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #14364a;
}

.edit-main-left-container {
  height: 100%;
  flex: 1;
}

.edit-main-center-container {
  height: 100%;
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 80px;
}


.edit-picture {
  border-radius: 50%;
}

.edit-main-name {
  padding-top: 10px;
  color: #ededed;
}

.edit-main-right-container {
  height: 100%;
  flex: 1;
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.edit-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.edit-form {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.edit-detail-title-container {
  width: 650px;
  margin: 40px 0px 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.edit-detail-title {
  font-family: 'Bungee', sans-serif;
  font-size: 4.4rem;
  color: orangered;
  text-shadow: -3px 3px 0px black;
}

.edit-detail-content-container {
  width: 680px;
  margin-bottom: 60px;
  padding: 60px 0px 46px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.08), 0 3px 20px 0 rgba(0, 0, 0, 0.08);
}

.edit-detail-picture-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.profile-picture {
  height: 200px;
  width: 200px;
  margin: 0px 30px 0px 60px;
  display: block;
  flex: 0;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  align-content: center;
  align-items: center;
  background-color: white;
  /* border: solid;
  border-color: #14364a;
  border-width: 10px; */
  border-radius: 10%;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.edit-detail-file-upload-content-container {
  margin-left: 10px;
  line-height: 54px;
}

.edit-detail-file-input {
  display: none;
}

.edit-detail-file-upload-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#browseButton {
  width: 104px;
  height: 35px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
	border-radius: 4px;
	background-color: #54c0ff;
	outline: none;
	cursor: pointer;
	font-family: 'Chathura', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#browseButton:hover {
  background-color: orangered;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.08);
}

#browseButton:active {
  background-color: orangered;
	transform: scale(0.96);
}

input {
	height: 36px;
	padding: 8px;
	margin: 0px;
	box-sizing: border-box;
	border: 0;
  outline: 0;
  background: transparent;
	border-bottom: 1.6px solid gray;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
	font-size: 1.1rem;
	color: #505050;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

input:hover {
	border-bottom: 4px solid gray;
}

input:focus {
	border-bottom: 4px solid black;
	color: black;
}

textarea {
	width: 100%;
	padding: 8px 8px 12px 8px;
	margin-top: 12px;
	box-sizing: border-box;
	border: 0;
	outline: 0;
	resize: none;
  background: transparent;
	border: 1.6px solid gray;
	font-family: 'Roboto Mono', monospace;
	font-weight: 200;
	font-size: 1.1rem;
	color: #505050;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

textarea:hover {
	border: 4px solid gray;
}

textarea:focus {
	border: 4px solid black;
	color: black;
}

button {
	width: 130px;
  height: 50px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
	border-radius: 4px;
	background-color: #54c0ff;
	outline: none;
	cursor: pointer;
	font-family: 'Chathura', sans-serif;
	font-weight: 600;
	font-size: 2.6rem;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 28px;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

button:hover {
	background-color: orangered;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.08);
}

button:active {
  background-color: orangered;
	transform: scale(0.96);
}

button[disabled] {
  background-color: lightblue;
}

button:hover[disabled] {
  background-color: lightblue;
  transform: scale(1);
}

.margin {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.edit-detail-file-input-name {
  width: 178px;
  margin: 0px 16px 0px 0px;
  cursor: pointer;
}

.edit-detail-content-row-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#nameRowContainer {
  margin-top: 30px;
}

.edit-detail-content-row-label-container {
  margin-left: 70px;
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.edit-detail-content-row-label-icon {
  height: 30px;
  width: 30px;
  padding-right: 16px;
}

.edit-detail-content-row-label {
  font-weight: 600;
}

.edit-detail-content-row-content-container {
  flex: 5;
}

.edit-detail-content-row-input {
  width: 300px;
}

.edit-detail-content-row-textarea {
  height: 100px;
  width: 300px;
}

.edit-main-button-container {
  display: flex;
}

.edit-detail-picture-container {
  padding: 0px 0px 40px, 0px
}

.edit-button-container {
  width: 590px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.edit-back-button {
  border: 3px solid orangered;
  background-color: white;
  color: orangered;
}

.edit-back-button:hover {
	background-color: orangered;
	color: white;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transform: scale(1.08);
}

.edit-back-button:active {
  background-color: orangered;
	color: white;
	transform: scale(0.96);
}

