.history-title-container {
  margin-left: 50px;
}

.history-order-container {
  width: 100%;
  height: 150px;
  display: flex;
  background: grey
}

.history-order-1-content {
  margin-left: 10px;
  flex: 2;
}

.history-order-2-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.order-2 {
  color: black;
}

.history-order-title-container {
  font-size: 3rem;
  font-family: 'Chathura', sans-serif;
  font-weight: 600;
}

.order-title {
  color: orange;
}

img {
  width: 18%;
  height: 90%;
  margin-top: 5px;
  margin-left: 50px;
  border: 2px solid black;
  flex: none;
}
