.main-content-container {
  display: flex;
	flex-direction: column;
	justify-content: flex-start;
  align-items: center;
  background-color: #ededed;
	background-image: url('../img/bg_auth.jpg');
  background-blend-mode: screen;
  background-size: contain;
}

.history-content-container {
  width: 80%;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
	justify-content: flex-start;
  align-items: center;
}

.history-title-container {
  width: 100%;
  margin: 30px 0px 40px 0px;
  display: flex;
  flex-direction: row;
	justify-content: space-between;
  align-items: flex-end;
}

.history-title {
  flex: 1;
  font-size: 4.6rem;
  color: black;
}

