.auth-invalid-credentials-message-container {
  position: fixed;
  width: fit-content;
  height: 36px;
  padding: 0px 18px;
  top: 7%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
	justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: red;
  color: white;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}

.auth-invalid-credentials-message-container.is-hidden {
  opacity: 0;
}

.auth-input-validation-message-container {
  transform: translateY(-15px);
}

.auth-title-container {
	-webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  transform: translateY(15px);
}

.auth-title-container.is-moved {
	transform: translateY(-8px);
}
