.auth-pane-container {
	width: 560px;
	height: 700px;
}

.auth-pane-content {
	width: 97%;
	height: 86%;
}

.auth-title-container {
	margin-top: 20px 0px 10px 0px;
}

.auth-alt-container {
	width: 80%;
	margin: 10px;
}

.auth-submit-container {
	margin: 10px 0px 24px 0;
}

form {
	width: 90%;
}

button {
	width: 120px;
}

input {
	font-size: 0.9rem;
}

textarea {
	height: 65px;
	font-size: 0.9rem;
}

h4 {
	font-size: 2.1rem;
}
